$body-color: rgb(59, 59, 59);


$primary-button-background: rgb(236, 65, 94);
$primary-button-color: rgb(255, 255, 255);

$secondary-button-background: rgb(197, 205, 212);
$secondary-button-color: rgb(77, 73, 73);

$error-background-color: rgb(201, 105, 105);

$manuallyFilled-background-color: rgba(100, 146, 108, 0.151);
$autoFilled-background-color: rgba(255, 217, 0, 0.226);

$header-background-color: #f9f6f3;